* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --results-color: hsl(183, 100%, 15%);
  --title-color: hsl(186, 14%, 43%);
  --text-color: hsl(184, 14%, 56%);
  --reset-color: hsl(172, 67%, 45%);
  --container-color: hsl(185, 41%, 84%);
  --body-color: hsl(189, 41%, 97%);
  --White-color: hsl(0, 0%, 100%);
  --grey-color: hsl(0, 0%, 85%);

  --body-font: 'Space Mono';
}

body {
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  align-items: center;
  background-color: var(--body-color);
  font-family: var(--body-font);
}

#container {
  margin: auto;
  max-height: 45rem;
  max-width: 50rem;
  box-sizing: content-box;
  background-color: var(--container-color);
  padding: 4rem 6rem 6rem 6rem;
  border-radius: 0.25rem;
  box-shadow: 2rem, 2rem, 2rem, black;
  text-align: center;
}

#logo {
  margin-top: 3rem;
}

h5 {
  height: fit-content;
}

#calculator {
  margin: 3rem;
  background-color: var(--White-color);
  padding: 2rem;
  border-radius: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

#bill {
  display: block;
  text-align: left;
  color: var(--title-color);
  font-weight: bold;
  max-width: 18rem;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
}

.icon img {
  position: absolute;
  left: 10px;
}

#buttons {
  /* display: flex;
  margin-bottom: 0.5rem; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0.75rem;
}

.button {
  color: var(--White-color);
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  background-color: var(--results-color);
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  margin-right: 1rem;
  width: 5rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--reset-color);
  color: var(--results-color);
}

#custom {
  color: var(--body-color);
  background-color: var(--White-color);
  border: none;
}

form .larger {
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 1rem;
  text-align: right;
  color: var(--results-color);
  background-color: var(--White-color);
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
}

#results {
  display: grid;
  gap: 1rem;
  font-family: var(--body-font);
  color: white;
  background-color: var(--results-color);
  border-radius: 1rem;
  padding: 2rem 2rem 1rem 2rem;
  text-align: left;
}

#results p {
  color: var(--text-color);
  width: fit-content;
  display: inline-block;
}

#results #final {
  color: var(--reset-color);
  font-size: 2rem;
  font-weight: 900;
  text-align: right;
  /* margin-left: 3rem; */
}

#reset-button {
  font-family: var(--body-font);
  color: var(--results-color);
  background-color: var(--reset-color);
  font-weight: 900;
  width: 100%;
  padding: 0.5rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
